.game_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game_wrapper_hor{
    display: flex;
}

.game_wrapper > h2{
    font-size: 24px;
    margin-bottom: 20px;
}
.game_wrapper_input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
.game_form_button{
    width: 100px;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    background-color: #494949;
    color: #fff;
    transition: background-color 0.3s ease;
}
.game_form_button:hover {
    background-color: #757575;
}
  
.noDrag {
    user-select: none;
}